{% extends 'base.html' %}

<!-- HTML Meta Tags -->
{% block head %}

<title>{% block title %} {{ products.title }} {% endblock %} | Synkisol</title>
<meta name="description" content="Commercial Kitchen Equipment, Restaurant Kitchen Layouts, Stainless Steel Fabrication in Kenya. Commercial Kitchen Equipment for sale in Nairobi or around you">
<meta name="keywords" content="Kitchen Suppliers in Kenya, Commercial Kitchen in Kenya, Stainless Steel Fabrication in Kenya, Commercial Kitchen Equipment for sale in Nairobi or around you" />

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.synkisol.co.ke/">
<meta property="og:type" content="website">
<meta property="og:title" content="{% block og:title %} {{ products.title }} {% endblock %} | Synkisol">
<meta property="og:description" content="Commercial Kitchen Equipment, Restaurant Kitchen Layouts, Stainless Steel Fabrication in Kenya. Commercial Kitchen Equipment for sale in Nairobi or around you">
<meta property="og:image" content="https://www.synkisol.co.ke/static/images/synkisol_logo.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="synkisol.co.ke">
<meta property="twitter:url" content="https://www.synkisol.co.ke/">
<meta name="twitter:title" content="{% block twitter:title %} {{ products.title }} {% endblock %} | Synkisol">
<meta name="twitter:description" content="Commercial Kitchen Equipment, Restaurant Kitchen Layouts, Stainless Steel Fabrication in Kenya. Commercial Kitchen Equipment for sale in Nairobi or around you">
<meta name="twitter:image" content="https://www.synkisol.co.ke/static/images/synkisol_logo.png">

<link rel="canonical" href="{{request.build_absolute_uri}}">

{% endblock %}

{% block content %}

{% load static %}

<!-- Banner Section -->
<section class="page-banner">
    <div class="image-layer" style="background-image:url({% static 'images/background/image-7.jpg' %});"></div>
    <div class="shape-1"></div>
    <div class="shape-2"></div>
    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>{{ products.title }}</h1>
                <div class="page-nav">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'home:home' %}">Home</a></li>
                        <li><a href="{% url 'all_products' %}">Products</a></li>
                        <li class="active">{{ products.title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->

<!-- Project Single -->
<section class="project-single style-two">
    <div class="auto-container">
        <figure class="image-box">
            <a href="{{ products.image.url }}" width="1170px" height="556px" class="lightbox-image" data-fancybox="gallery"><img
                    src="{{ products.image.url }}" alt="{{ products.alt }}"></a>
        </figure>
        <div class="text-content">
            <div class="row clearfix">
                <!-- Text COl -->
                <div class="text-col col-lg-12 col-md-12 col-sm-12">
                    <div class="inner">
                        <h5>{{ products.title }}</h5>
                        <p>{{ products.detail | safe}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% comment %} <div class="post-control">
    <div class="auto-container">
        <div class="inner clearfix">
            <div class="control prev"><a href="#"><span class="fa fa-angle-left"></span> &nbsp; Previous</a>
            </div>
            <div class="control next"><a href="#">Next &nbsp;<span class="fa fa-angle-right"></span></a></div>
        </div>
    </div>
</div> {% endcomment %}

<!-- Similar Section -->
<section class="gallery-section similar-gallery">
    <div class="auto-container">
        <div class="sec-title centered">
            <h2>Similar Products<span class="dot">.</span></h2>
        </div>
        <div class="row clearfix">
            <!-- Gallery Item -->
            {% for rs in related_products %}
            <div class="gallery-item col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <figure class="image"><img src="{{ rs.similar_image.url }}" width="370px" height="426px" alt="{{ rs.alt }}"></figure>
                    <a href="{{ rs.image.url }}" class="lightbox-image overlay-box"
                        data-fancybox="gallery"></a>
                    <div class="cap-box">
                        <div class="cap-inner">
                            <div class="cat"><span>{{ rs.product_category }}</span></div>
                            <div class="title">
                                <h5><a href="{{ rs.get_absolute_url }}">{{ rs.title }}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}