:root {
  --thm-font: "Rubik", sans-serif;
  --thm-b-font: "Rubik", sans-serif;
  --thm-black: #2a2833;
  --thm-black-rgb: 42, 40, 51;
  --thm-text: #74727a;
  --thm-base: #ff4b82;
}


.scroll-to-top {
  color: #fff;
}
